




<div class="relative h-screen">


    <img src="assets/green-banking1110.jpg"  alt="Image" class=" fixed top-0 left-0 w-full h-full object-cover -z-10">




<div class="flex items-center justify-center h-screen">
    
    <div class=" w-[39%] h-[56%] flex items-center justify-center">

        <div class="border border-white shadow-[5px_10px_10px_5px_#5555554f] bg-transparent w-[50%] h-2/3">
       

        </div>

        <div class="test">
           
            <h1 class="" >GreenLC</h1>

            <img src="assets/GLC-LOGO_V2.jpeg" alt="" class="size-[120px]">
            <span>Powered by<a href=""> SSCL</a></span>

        </div>


    </div>

</div>


<!-- 
    <div class=" flex items-center justify-center h-screen">

     
        <div class=" flex border w-1/2 h-auto shadow-[5px_10px_10px_5px_#5555554f]">

          <div class="bg-red-200 w-1/2">hell</div>

          <div class="bg-[#8bc34abd] w-1/2">hell</div>
        
            
        </div>

        
      


    </div> -->

    
    



  
 
</div>
